.Rproj.user
.Rhistory
.RData
.Renviron
.Ruserdata

/.quarto/
/_site/
/test_scripts/
/rosm.cache
predicting-the-future.qmd
/intermediates/
when-crime-is-occurring.qmd
where-crime-is-occurring.qmd
/geometry/police_*
/R_scripts/basic-map.R
/data/Census*